.mainHeadingContainer{
    height: 40px;
    width: 100%;
    background-color: #ffcccc;
    /* position: fixed; */
    z-index: 1;
    margin: 0px;

    .mainLeftSideBorder{
        height: 1000px;
        width: 45px;
        background-color: #e0eeee;
        float: left;
        margin-top: 40px;
    }

    .mainRightSideBorder{
        height: 1000px;
        width: 45px;
        background-color: #e0eeee;
        float: right;
        margin-top: 40px;
    }

   
}

